annotated-types==0.5.0
autopep8==2.0.2
beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.2.0
emoji==1.7.0
ftfy==6.1.1
idna==3.4
lxml==4.9.3
markdown-it-py==3.0.0
mdurl==0.1.2
pycodestyle==2.10.0
pydantic==2.0.3
pydantic_core==2.3.0
Pygments==2.15.1
requests==2.31.0
rich==13.4.2
soupsieve==2.4.1
typing_extensions==4.7.1
urllib3==2.0.3
wcwidth==0.2.6
